
<style>

    #hello-message{
        font-size: 20px;
        color: #fff;
        margin-right: 20px;
        margin-top: 5px;
    }

</style>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">BSS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Registration</a>
                </li>
            </ul>

            <div class="my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="hello-message">Hello, {{ request.user.name }}</li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</nav>